<h1><%= @kiosk.name %></h1>

<%= link_to 'Manage Slides', [:admin, @kiosk, :slides ], class: "btn btn-block btn-lg btn-primary" %>

<dl class="">
  <dt>Slides</dt>
  <dd><%= @kiosk.slides.active.count %></dd>
  <dt>URL</dt>
  <dd>
            <%= link_to kiosk_url(@kiosk), kiosk_url(@kiosk) %>
  </dd>
</dl>
