@font-face {
  font-family: 'TisaPro';
  src: font_url('TisaPro.eot');
  src: font_url('TisaPro.eot?#iefix') format('embedded-opentype'),
       font_url('TisaPro.woff2') format('woff2'),
       font_url('TisaPro.woff') format('woff'),
       font_url('TisaPro.ttf') format('truetype'),
       font_url('TisaPro.svg#TisaPro') format('svg');
  font-weight: normal;
  font-style: normal;
}
