<section>
  <h2>About The Iron Yard</h2>
  <p>
    The Iron Yard exists to create real, lasting change for people, companies and communities through technology education.
  </p>
  <br>
  <p>
    Our educational resources provide a solution at the juncture of supply, demand, business and a broken education system. We are committed to training the highest-quality technology professionals in the world, both in skill and in character.
  </p>
</section>

<section>
  <h2>About The Courses</h2>
</section>

<section>
  <h3>Back End Engineering - Ruby on Rails</h3>
  <p>
    <%= image_tag "https://www.theironyard.com/content/dam/theironyard/icons/icon-BackEnd-update.png" %>
  </p>
  <p>
    Back End Engineering focuses on the logic and database needs required to run and scale web applications. Back End products combine databases, APIs, and user interface frameworks. Backend developers deploy fully formed products to the cloud, integrate with online services, and enable mobile and front end applications.
  </p>

</section>

<section>
  <h3>Front End Engineering - Javascript</h3>
  <p>
    <%= image_tag "https://www.theironyard.com/content/dam/theironyard/icons/icon-FrontEnd-update.png" %>
  </p>
  <p>
    Front End Engineering focuses on creating experiences in web browsers that users see and interact with. The discipline covers a broad area, from web design principles to complex JavaScript applications that manage data. The tools used in Front End Engineering are ubiquitous—no matter the technology used on the Back End, Front-Enders are responsible for delivering the experience and data to the person using the web application.
  </p>
</section>

<section>
  <h3>Mobile Engineering</h3>
  <p>
    <%= image_tag "https://www.theironyard.com/content/dam/theironyard/icons/icon-Mobile-update.png" %>
  </p>
  <p>
    Mobile Engineering focuses on creating native experiences designed specifically for mobile operating systems and the hardware they run on. Mobile developers create tactile apps that leverage internet connectivity, content capture functionality and hardware-specific features. End users download and use those apps to consume, create and distribute using their devices wherever they are.
  </p>
</section>

<section>
  <h5>Learn Even More at:</h5>
  <h3>
    theironyard.com
  </h3>
</section>
