<section>
    <h3>Announcements</h3>
    <table>
      <% this_week_announcements.each do |announcement| %>
        <tr>
          <td>
            <h4><%= Date.parse(announcement.date).strftime('%a, %b %d').to_s %></h4>
          </td>
          <td>
            <h4><%= announcement.info %></h4>
          </td>
        </tr>
      <% end %>
    </table>
</section>
