<% sample_fun_facts.each do |ff| %>
  <section>
    <h3>Fun Facts</h3>
    <h3> <%= ff.name %> </h3>
    <h4><%= ff.cohort.name %></h4>
     <%= image_tag("https://tiyfunfactz.herokuapp.com#{ff.profile_image}", :class => "circle") %>
     <h4> <%= ff.fun_fact %>  </h4>

  </section>
<% end %>
