<h3>Half Way Celebration</h3>
<h4>This Friday marks the official halfway point of the class.  Let's celebrate with grilled meats and veggies!</h4>
<p>
  <%= image_tag "grill.gif", :class => "rounded" %>
</p>
