<% this_weeks_speakers.each do |speaker| %>
  <section>
    <h3>Guest Speaker</h3>
    <h3> <%= speaker.date %> </h3>
    <h3> <%= speaker.name %>  </h3>
    <h3> <%= speaker.company %>  </h3>
   <%= image_tag(speaker.pic, :class => "circle") %>
  </section>
<% end %>
