<div class="flash">
  <% if notice %>
    <div class="alert alert-info">
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger">
      <%= alert %>
    </div>
  <% end %>
</div>
